body{
		font-family: "微软雅黑";
		overflow-x:hidden; 
	} 

.navbar-center {
	  display: inline-block;
	  float: none;
	  vertical-align: top;
}

.navbar-collapse-center {
  	text-align: center;
}
/* 自定义按钮 */
.btn-black{
	background-color: #222628;
	border-color: #A2A1A2;
	color: #fff;
	display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.figure{
	margin-top: 50px;
}
/* 去除默认边框 */
.thumbnail{
	border: 0px solid transparent !important;
	padding: 0px  !important;
}

#about,#product,#service,#contact{
	padding: 30px 0;
}

 .caption .tee{
	line-height: 30px;
	color:#3F3B3A;
}
#product{
	background:#F7F7F7; 
}
.carousel{
	height: 200px;
	margin-bottom: 30px;
}
#contact{
	background-color: #222729;color: #555A5C;padding-bottom: 0;
}
	.ad ul{
	margin: 0;
	padding: 0;
}
.ad ul li{
		float: left;			
		list-style: none;
		text-align: center;
		padding: 10px;
		margin: 30px 0;
	}
.ad ul p{
	padding: 5px;
}
.carousel{
		height: 265px;
	}

.carousel .item img{
		height: 265px;
	}
@media screen and (max-width:768px) {
	.ad ul li{
		width: 50%;
	}
	
}
@media screen and (max-width:480px) {
	.ad ul li{
		width: 100%;
	}
}

@media screen and (min-width:768px) {
	.ad ul li{
		width: 25%;
		border-right:1px solid #ccc;
		box-sizing:border-box;

	}
	.ad ul li:last-child{
		border-right:0;
	}
}
label{
	text-indent: -99999px;
}
textarea{
	resize:none;
	overflow-x:hidden
}
.link-box{
			margin-top: 20px;
			padding: 10px 0;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;

}
.link{
	line-height: 34px;
}
.link a{
	display: inline-block;
	height: 34px;
	width: 34px;
	text-indent: -9999px;
}
.wb{
	background: url(img/wei1.png) 0 1px;
}
.qq{
	background: url(img/wei1.png) -36px 0;
}
.twb{
	background: url(img/wei1.png) -74px 0;
}
.rr{
	background: url(img/wei1.png) -112px 0;
}
.bt{
	background: url(img/wei1.png) -150px 0;
}
.wx{
	background: url(img/wei1.png) -188px 0;
}
.wb:hover{
	background: url(img/wei.png) 0 1px;
}
.qq:hover{
	background: url(img/wei.png) -36px 0;
}
.twb:hover{
	background: url(img/wei.png) -74px 0;
}
.rr:hover{
	background: url(img/wei.png) -112px 0;
}
.bt:hover{
	background: url(img/wei.png) -150px 0;
}
.wx:hover{
	background: url(img/wei.png) -188px 0;
}
.home{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(img/sc.png) 0 0;
}
.phone{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(img/sc.png) -16px 0;
}
.stamp{
	display: inline-block;
	width: 20px;
	height: 16px;
	background: url(img/sc.png) -32px 0;
}
.email{
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(img/sc.png) -51px 0;
}
.vfooter{
	margin-top: 10px;
}