.admin{min-height:500px;margin-top:20px;background: #fff;min-height: 480px;border-radius:10px;margin-top:20px;margin-bottom:20px;}
.admin .introduce{margin:0 30px 0px;padding:20px 0 0px;border-bottom: 1px solid #000;margin-bottom:10px;}
.admin .introduce span{display: block;width: 100px;height: 30px ;line-height: 30px;background: #000;color: #fac;
box-shadow: 5px 0px 5px #ccc;text-align: center;font-weight: bold;margin-left: 20px}
.admin-left{width:13.629%;margin:20px 0px 20px 30px;}
.admin-left li a{display: block;height: 30px;line-height: 30px;background:#000;margin:10px 0;text-align: center;color:#fff;margin-left:15px;}
.admin-left li a:hover{margin:10px 0;text-align: center;color:#fff;}
.admin-left li .on{margin:10px 0;text-align: center;color:#fff;}
.admin-right{width:80%;border-left:5px solid #000;min-height: 470px;margin:20px 0;}
.admin-right table{margin:0px auto;text-align: center;}
.admin-right th,.admin-right td{border: 1px solid #000;border-left: none;border-bottom:none;}
.admin-right th{height: 30px;}
.admin-right th:first-child,.admin-right td:first-child{border-left: 1px solid #000;width: 250px;}
.admin-right tr:last-child td{border-bottom: 1px solid #000;}
.admin-right th:nth-child(2){min-width: 100px;}
.admin-right th:nth-child(3),.admin-right td:nth-child(3){min-width:150px;}
.admin-right th:nth-child(4){min-width:200px;}
.admin-right td img{margin:8px 0 5px; }
.admin-right input[type="text"]{border:1px solid #ccc;}