body{min-width: 1020px; background:#EEEEEE;}
/*header部分*/
.header-top {
	height: 60px;
	color: #fff;
	background:#000;
}
.top-bd h1{height: 60px;line-height: 60px;color: #fff;margin-left:20px;}
.login a{height: 60px;line-height: 60px;color: #fff;margin-right: 20px;font-size:14px;}
.login a:hover{color: red;}
/*nav导航*/
.nav{height:60px;line-height: 60px;background:#AAD05E;margin-top: 20px;border-radius:10px;}
.nav ul{float: right;margin-right: 50px;}
.nav li{float: left;margin-left: 50px;}
.nav a{color:#fff;font-size: 16px;text-shadow:5px 5px 5px #000;}
.nav a:hover{color: #000;}
/*banner*/
#banner{position: relative; width: 712px;height:200px;overflow: hidden;border-radius:10px;margin-bottom: 10px;}
.imgBox{position:relative;width:3560px;height: 200px;overflow: hidden;}
.imgBox li{display: inline;float: left;}
#banner li{float: left;}
#banner span{font-size: 30px;cursor: pointer;display: block;height: 30px;}
.imgBox li{width:712px;height: 200px;float: left;}
.imgBox li img{width:712px;height: 200px;}
.txtBox {height:60px;width:512px;position: absolute;left: 0;bottom: 0;z-index: 10;background: black;opacity: 0.7;}
.txtBox li{display: none;line-height: 60px;padding: 0 50px;}
.txtBox .onTxt{display: inline;}
.numBox{height:60px;width:200px;position: absolute;left:512px;bottom: 0;z-index: 10;background: black;opacity: 0.7;line-height: 60px;}
.numBox li{margin-top:27px;margin-left: 20px;border-radius: 5px;color: #fff;cursor: pointer;padding:4px;background: #fff;}
.numBox .onNum{ color: #f00;background: #f00; }
/*main主体*/
.main{min-height:500px;margin-top:20px;}
/*左边部分*/
/*首页*/
.main-left{width:70%;margin-right:20px;}
.article{background: #fff;margin-bottom:10px;border-radius:10px;padding:30px 30px 0;}
.article h2 a{color:#f00;}
.article h2 a:hover{color:#8BBF5D;}
.article p{text-indent: 2em;}
.article .more{float: right;background:#E88730;padding: 5px;border-radius: 5px;margin:10px;}
.article .more a{color: #fff;}
.meta{margin: 10px 0;}
.meta a,.meta span,.meta time{color:#9D9A9A;margin-right:20px;}
/*右边部分*/
.main-right{width: 28%;background:#FFF9F9;border-radius:10px;min-height:400px;}
.main-right input{margin: 20px 5px 0 0;width: 68%;height: 28px;padding-left:10px;
	background: #fff;font-size: 12px;border: 1px solid #ccc;}
.main-right button{width:24%;border: 1px solid #76923c;height: 28px;background:#9bbb59;}
.main-right #hot,#recent{margin:20px 15px 20px;}
.main-right #hot li{list-style: inherit;margin:10px 15px;}
.main-right #hot li:nth-child(1) a{color: #f00;}
.main-right #hot li:nth-child(2) a{color: #FA5000;}
.main-right #hot li:nth-child(3) a{color: #FA8B00;}
.main-right li a:hover{color: #8BBF5D;}
.main-right #recent li{list-style: inherit;margin:10px 15px;color: #FE9900;}
/*关于我*/
.about{background: #fff;min-height: 480px;border-radius:10px;margin-top:20px;margin-bottom:20px;}
.about .introduce{margin:0 30px 0px;padding:20px 0 0px;border-bottom: 1px solid #000;margin-bottom:10px;}
.about .introduce span{display: block;width: 100px;height: 30px ;line-height: 30px;background: #000;color: #fac;
box-shadow: 5px 0px 5px #ccc;text-align: center;font-weight: bold;margin-left: 20px}
.about-left{padding:0px 30px 0;width:60%;margin:20px 0;}
.about-left h2{color: #009999;line-height:34px;margin-left:20px;}
.about-left h2 span{color:#7D7D49;margin-left:10px;}
.about-left .aboutMe p,.about-left .aboutWeb p{margin:0 20px;text-indent:2em;line-height:34px;font-size:14px;}
.about-right{width:33.629%;border-left:3px dotted #DDDDDD;min-height: 470px;margin:20px 0;}
.about-right p{padding:0 30px;line-height: 40px;color:#806F6F;font-size: 14px;}
/*留言*/
.message{background: #fff;min-height: 480px;border-radius:10px;margin-top:20px;margin-bottom:20px;}
.message .introduce{margin:0 30px 0px;padding:20px 0 0px;border-bottom: 1px solid #000;margin-bottom:10px;}
.message .introduce span{display: block;width: 100px;height: 30px ;line-height: 30px;background: #000;color: #fac;box-shadow: 5px 0px 5px #ccc;text-align: center;font-weight: bold;margin-left: 20px}
.message-left{padding:0px 30px 0;width:60%;margin:20px 0;}
.message-left .pls{font-size: 14px;font-weight: bold;margin-left: 20px;}
.message-left .pl{margin: 10px 20px;font-size: 14px;}
.message-left .pl li{border-bottom: 2px solid #eee;min-height: 70px;margin:10px 0 0;}
.message-left .pl li .mess{margin:10px 0 10px;}
.message-left .pl li .date{padding-left: 20px;color: #ccc;}
.message-left .fbpl{margin:0 20px;}
.message-left textarea{display: block;border:2px solid #eee;border-radius: 5px;min-width: 300px;width:445px;max-width: 550px;min-height: 100px;padding:13px 10px;font-size: 14px;}
.message-left input[type="text"]{display:block;border:2px solid #eee;border-radius: 5px;width:200px; padding:13px 10px;font-size: 14px;float: left;margin:10px 0;}
.message-left input[type="email"]{display:block;border:2px solid #eee;border-radius: 5px;width:200px; padding:13px 10px;font-size: 14px;float:left;margin:10px 20px;;}
.message-left button{display:block;border:2px solid #5ABB1D;border-radius: 5px;width:100px;padding:6px 10px;font-size: 14px;background: #78C529;color: #fff;cursor: pointer;clear: both;margin:10px 0;}
.message-right{width:33.629%;border-left:3px dotted #DDDDDD;min-height: 470px;margin:20px 0;}
.message-right p{padding:0 30px;line-height: 40px;color:#806F6F;font-size: 14px;}
/*文章展示页面*/
.pageNum{margin-top:20px;width: 100%;text-align:center;}
.pageNum li{display:inline-block;vertical-align: top;line-height:25px;}
.pageNum li span{display: block;width:25px;height:25px;margin:0 4px;border-radius:25px;background:#fff;}
/*文章阅读页*/
.read{background: #fff;margin-bottom:10px;border-radius:10px;padding:30px 30px 0;}
.read h2{text-align: center;}
.read h2 a{color:#f00;}
.read h2 a:hover{color:#8BBF5D;}
.read .meta{text-align: center;}
.read p{text-indent: 2em;line-height: 35px;font-size: 14px;}
.wzpl{background:#fff;padding:30px;border-radius:10px;}
.wzpl .pls{font-size: 14px;font-weight: bold;}
.wzpl .pl{margin: 10px 0px;font-size: 14px;}
.wzpl .pl li{border-bottom: 2px solid #eee;min-height: 70px;margin:10px 0 0;}
.wzpl .pl li .mess{margin:10px 0 10px;}
.wzpl .pl li .date{padding-left: 20px;color: #ccc;}
.wzpl textarea{display: block;border:2px solid #eee;border-radius: 5px;min-width: 300px;width:445px;max-width: 550px;min-height: 100px;padding:13px 10px;font-size: 14px;}
.wzpl input[type="text"]{display:block;border:2px solid #eee;border-radius: 5px;width:200px; padding:13px 10px;font-size: 14px;float: left;margin:10px 0;}
.wzpl input[type="email"]{display:block;border:2px solid #eee;border-radius: 5px;width:200px; padding:13px 10px;font-size: 14px;float:left;margin:10px 20px;;}
.wzpl button{display:block;border:2px solid #5ABB1D;border-radius: 5px;width:100px;padding:6px 10px;font-size: 14px;background: #78C529;color: #fff;cursor: pointer;clear: both;margin:10px 0;}
/*尾部*/
footer{text-align: center;background: #000;color: #fff;height:60px;line-height:60px;}
footer a{color: #ff0;}