@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldse,table,td,img,div,dl,dt,dd,input{
	margin:0;padding:0}
body{font-size:12px;font-family:"微软雅黑";}
img{border:none;}
li{list-style:none;}
fieldset,input,select,textarea{outline:none;border:none;background:none;}
a{text-decoration:none;color:#9D9A9A;}
/*清除浮动*/
.clear{clear:both;font-size:1px;height:0;visibility:hidden;line-height:0;}
.clearfix:after{content:".";display:block;clear:both;color:#fff;}
.clearfix{zoom:1;}/*兼容ie6*/
.fl{float:left;}
.fr{float:right;}
.wrap{width:1020px;margin: 0 auto;}
	
